<!-- Edit Event Modal -->
<div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div id="event-boxes">
          <form class="form edit-event-form">
            <div class="form-group">
              <label for="event-name">Event name:</label>
              <input class="form-input" type="text" id="event-name" name="event-name" />
            </div>

            <div>Current schedule:</div>
            <div>Start: <span id="existing-start-date"></span></div>
            <div>End: <span id="existing-end-date"></span></div>

            <div>Re-X it?</div>

            <div class="input-daterange input-group datepicker" id="datepicker">
              <label for="new-start-date" style="display: flex; align-items: center; margin-right: 10px;">Goes
                from:</label>
              <input type="text" class="input-sm form-control" id="new-start-date" name="new-start-date" />
              <span class="input-group-addon" style="margin: 0 5px;"> to </span>
              <input type="text" class="input-sm form-control" id="new-end-date" name="new-end-date" />
            </div>

            {{!-- keep this code in case time format is added to app --}}

            {{!-- <div class="form-group">
              <label for="start-time">Start:</label>
              <input class="form-input" type="number" id="start-time" name="start-time" />
            </div>

            <div class="form-group">
              <label for="end-time">End:</label>
              <input class="form-input" type="number" id="end-time" name="end-time" />
            </div> --}}

            <div class="form-group">
              <label for="event-desc">Description:</label>
              <textarea class="form-input" id="event-desc" name="event-desc"></textarea>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary update-button">Update</button>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary cancel-button" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
