<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Add Event
    </button>

    {{! <button id="add-event-button" class="btn btn-primary">Add Event</button> }}

    <!-- <Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div id="event-boxes">
              <form class="form new-event-form">
                <div class="form-group">
                  <label for="event-name">Event name:</label>
                  <input
                    class="form-input"
                    type="text"
                    id="event-name"
                    name="event-name"
                  />
                </div>

                <div class="form-group">
                  <label for="start-time">Start:</label>
                  <input
                    class="form-input"
                    type="number"
                    id="start-time"
                    name="start-time"
                  />
                </div>

                <div class="form-group">
                  <label for="end-time">End:</label>
                  <input
                    class="form-input"
                    type="number"
                    id="end-time"
                    name="end-time"
                  />
                </div>

                <div class="form-group">
                  <label for="event-desc">Description:</label>
                  <textarea
                    class="form-input"
                    id="event-desc"
                    name="event-desc"
                  ></textarea>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">X it!</button>
                </div>
              </form>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div></div>

<div>
  {{#if events.length}}
    <div class="col-md-6 event-list">
      <h3>Upcoming Events:</h3>

      {{#each events as |event|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/api/events/{{event.id}}">{{event.name}}</a></h4>

          </div>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger delete-button"
              data-id="{{event.id}}"
            >REMOVE</button>
          </div>
        </div>
        <div class="popup">
          <div class="popup-content">
            <p>Are you sure you want to delete this event?</p>
            <button class="btn btn-danger confirm-button">DELETE</button>
            <button class="btn btn-secondary cancel-button">Cancel</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
<script
  src="https://cdn.jsdelivr.net/npm/date-fns@2.27.0/dist/date-fns.min.js"
></script>

<script src="./js/profile.js"></script>